<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />

    <title>Edit Pet</title>
</head>
<body>
<h1>Edit Pet</h1>

<form th:action="@{'/pets/edit/' + ${pet.id}}" th:object="${pet}" method="post">
    <div>
        <label>Name:</label>
        <input type="text" th:field="*{name}" required />
    </div>
    <div>
        <label>Type:</label>
        <input type="text" th:field="*{type}" required />
    </div>
    <div>
        <label>Owner:</label>
        <select name="ownerId">
            <option th:each="owner : ${owners}"
                    th:value="${owner.id}"
                    th:selected="${owner.id == pet.owner.id}"
                    th:text="${owner.name}">
            </option>
        </select>
    </div>
    <div>
        <button type="submit">Update</button>
        <a th:href="@{/pets}">Cancel</a>
    </div>
</form>

</body>
</html>
