<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />

    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<h1>Welcome to Pet Clinic Manager</h1>
<nav>
    <a th:href="@{/petowners}">Pet Owners</a> |
    <a th:href="@{/pets}">Pets</a> |
    <a th:href="@{/vets}">Vets</a> |
    <a th:href="@{/treatments}">Treatments</a> |
    <form th:action="@{/logout}" method="post" style="display:inline;">
        <button type="submit" class="btn-logout">
            🚪 Logout
        </button>

    </form>


</nav>
</body>
</html>
