<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Pet Owner</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<h1>Add Pet Owner</h1>
<form th:action="@{/petowners/add}" th:object="${owner}" method="post">
    <div>
        <label>Name:</label>
        <input type="text" th:field="*{name}" />
    </div>
    <div>
        <label>Email:</label>
        <input type="email" th:field="*{email}" />
    </div>
    <div>
        <label>Phone:</label>
        <input type="text" th:field="*{phone}" />
    </div>
    <div>
        <label>Street:</label>
        <input type="text" th:field="*{address.street}" />
    </div>
    <div>
        <label>City:</label>
        <input type="text" th:field="*{address.city}" />
    </div>
    <div>
        <label>Zip:</label>
        <input type="text" th:field="*{address.zip}" />
    </div>
    <div>
        <label>Country:</label>
        <input type="text" th:field="*{address.country}" />
    </div>
    <div>
        <button type="submit">Save</button>
        <a th:href="@{/petowners}">Cancel</a>
    </div>
</form>


</body>
</html>
